---
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'

import projectsContent from '../../../content-site/projects.json'

type ProjectGroup = {
  id: string
  title: string
  projects: {
    image?: string
    name: string
    description: string
    links: {
      type: string
      href: string
    }[]
  }[]
}

const groups = projectsContent.groups as ProjectGroup[]
const headings = groups.map((group) => ({
  depth: 2,
  slug: group.id,
  text: group.title
}))
---

<PageLayout title={projectsContent.title} {headings}>
  {projectsContent.intro.map((paragraph) => <p>{paragraph}</p>)}

  {
    groups.map((group) => (
      <>
        <h2 id={group.id}>{group.title}</h2>
        <ProjectSection projects={group.projects} />
      </>
    ))
  }
</PageLayout>
